{% load static %}

<!DOCTYPE HTML>
 
<html>
	<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />

  <!-- Bootstrap CSS -->
  {% block bootstrap %}
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  {% endblock %}

  {% block css %}
  	<link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
	<noscript><link rel="stylesheet" href="{% static 'assets/css/noscript.css' %}" /></noscript>
  {% endblock %}

  {% block title %}
  <title> GLU-CAM </title>
  {% endblock %}
  <link rel="icon" href="{% static 'favicon.ico' %}">
</head>

<body class="is-preload">
  {% block alert %}
  
  {% endblock %}

  {% block content %}
<div id="wrapper" class="fade-in">

				<!-- Intro -->
					<div id="intro">
						<h1>GLU-CAM 
							  </h1>
						<p>"Diabetes is not the end of joy, cure it and enjoy like a small boy" </p>
						<ul class="actions">
							<li><a href="#header" class="button icon solid solo fa-arrow-down scrolly">Continue</a></li>
						</ul>
					</div>

				<!-- Header -->
					<header id="header">
						<a href="/" class="logo">GLU-CAM</a>
					</header>

				<!-- Nav -->
					<nav id="nav">
						<ul class="links">
							<li class="active"><a href="/">HOME</a></li>
							<li><a href="audio">UPLOAD</a></li>
							<li><a href="about">ABOUT</a></li>
							<li><a href="record">HELP</a></li>
						</ul>

					</nav>

				<!-- Main -->
					<div id="main">

						<!-- Featured Post -->
							<div class="post featured">
								<header class="major">
									<img class ="logo" src="https://repository-images.githubusercontent.com/389729275/371ba38b-8a03-4bff-916c-c3fa5396ceda" alt="">	
								<br><br>						

									<span class="date">Solving for India Hackathon Series 2023 </span>
									<h2><a href="#">GLU-CAM<br />
									</a></h2>
									<p><strong>It is necessary to know the blood Glucose level</strong></p>
									<p><strong>GluCam:</strong>  an economical,webapp-based, autonomous blood glucose monitoring and diabetes sensing application. </p>
									<p><strong>Diabetes </strong> 
										is a medical condition in which the body cannot
										produce or effectively convert blood glucose into the required
										energy leads. Glucose is a primary energy source required
										for proper body functioning and transported to the individual
										cells via the bloodstream. When the blood glucose level persistently
										remains above the nominal value, diabetes develops.</p>
										
								</header>											
							
						

						<!-- Posts -->
						<h2>Features of site</h2>
							<section class="posts">

								<hr />

								<!-- Blockquote -->
									<h2>ANALYSIS</h2>
								<img class="image" src="{% static 'images/auto.png' %}" alt="">
									<blockquote>An autonomous, optical-based, smartphone implemented blood glucose measurement and diabetes sensing model.</blockquote>

									<hr />

									<hr />

									<!-- Blockquote -->
										<h2>Smart Healthcare</h2>
										<img class="mx-auto image" src="{% static 'images/idea.png' %}" alt="">
										
										<blockquote>A Smart-Healthcare architecture for diabetes diagnosis.</blockquote>
	
										<hr />

										<hr />

										<!-- Blockquote -->
											<h2>Glucose Prediction</h2>
											<img class="image" src="{% static 'images/pred.png' %}" alt="">
											
											<blockquote>The proposed smartphone based gluCam model can:
												
												
												 <br>
												<strong>Extraction : </strong> Automatically extract the blood vessels as ROI from the	digitally captured eye image.<br>
												<strong>Prediction : </strong>Accurately and non-invasively predict diabetes and blood	glucose without incursion of external gadgets.<br>
												<strong> Better :</strong>Outperform existing similar models in terms of accuracy,	sensitivity and specificity.<br>
												<strong> Robust : </strong>Make the prediction accuracy robust to light and device.<br></blockquote>
		
											<hr />		
											

							
						
													
							</section>

							<div class = "box">
								<h1>HOW TO USE </h1>
				
								<p class="card-text mx-auto" id="text">	
									The web-application predicts the glucose level from the eye images input given.
							</p>
							<div class="row">
								<div class="col-6 col-12-small">
									<ul class="actions stacked">
										<li><a href="record" class="button primary fit">GUIDE VIDEO</a></li>
																			
									</ul>
								</div>
								<div class="col-6 col-12-small">
									<ul class="actions stacked">
										<li><a href="audio" class="button primary fit">UPLOAD</a></li>	
									
										
									</ul>
								</div>
							</div>
			</div>	
		</div>
	</div>
  {% endblock %}

  {% block predictions %}
  {% endblock %}
  
  {% block footer %}
    <div id="copyright">
      <ul><li>&copy; GLU-CAM</li><li>Solving for India Hackathon Series 2023 </a></li></ul>
    </div>
  {% endblock %}

  {% block script %}
  <script src="{% static 'assets/js/jquery.min.js' %}"></script>
  <script src="{% static 'assets/js/jquery.scrollex.min.js' %}"></script>
  <script src="{% static 'assets/js/jquery.scrolly.min.js' %}"></script>
  <script src="{% static 'assets/js/browser.min.js' %}"></script>
  <script src="{% static 'assets/js/breakpoints.min.js' %}"></script>
  <script src="{% static 'assets/js/util.js' %}"></script>
  <script src="{% static 'assets/js/main.js' %}"></script>
  {% endblock %}
</body>

</html>
