{% extends 'home.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
	<noscript><link rel="stylesheet" href="{% static 'assets/css/noscript.css' %}" /></noscript>
{% endblock %}

{% block alert %}
<div class="alert alert-danger" role="alert">
    {{ message }}
</div>
{% endblock %}

{% block content %}
<div id="wrapper">
    <header id="header">
        <a href="/" class="logo">GLU-CAM</a>
    </header>

    <nav id="nav">
        <ul class="links">
            <li ><a href="/">HOME</a></li>
            <li><a href="audio">UPLOAD</a></li>
            <li><a href="about">ABOUT</a></li>
            <li class="active"><a href="record">HELP</a></li>


        </ul>
    </nav>

    <div id="main">
        <header class="major">								
            <span class="date">Solving for India Hackathon Series 2023</span>
            <h2><a href="#">GLU-CAM	</a></h2>
            <p><strong>"Diabetes is not the end of joy, cure it and enjoy like a small boy"</strong></p>		 
        </header>	
                
        <div class="mx-auto " id="form" method="POST">{% csrf_token %}
            <div class="mx-auto" id="head">
            <p id="heading" style="text-align: center; font-weight: bold">This Video will show how to use the Web Application.</p>
            </div> 
            
            <video class="img-fluid .w-100 videoCon" width="1080" height="720" controls>
                <source src="{% static 'video/video.mp4' %}" type="video/mp4"> </source>
                Your browser does not support the video tag.
            </video>
        </div>

        
        
    </div>
</div>

{% endblock %}

{% block script %}
  <script src="{% static 'assets/js/jquery.min.js' %}"></script>
  <script src="{% static 'assets/js/jquery.scrollex.min.js' %}"></script>
  <script src="{% static 'assets/js/jquery.scrolly.min.js' %}"></script>
  <script src="{% static 'assets/js/browser.min.js' %}"></script>
  <script src="{% static 'assets/js/breakpoints.min.js' %}"></script>
  <script src="{% static 'assets/js/util.js' %}"></script>
  <script src="{% static 'assets/js/main.js' %}"></script>
{% endblock %}